@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: white; /* Set the background color to black */
  color: rgb(0, 0, 0); /* Set the text color to lime */
  background-size: cover;
  /* Apply additional styles as needed */
  .container {
    padding: 20px; /* Add padding to the container */
  }
}

.btn.dropdown-toggle {
  width: 150px;
  text-align: center;
  color: "green";
}

span.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

label {
  padding-top: 5px;
}

.form-label {
  padding-right: 10px !important;
}

.form-control {
  border-radius: 100px;
}

.btn-success {
  background-color: #3b7d4a im !important;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.btn-success:hover {
  background-color: #4daf64;
}

img.track {
  border: 3px solid #8a8a8a;
}
.col-xs-3 img {
  max-width: 100%;
  height: auto;
}
select {
  background-color: black; /* Background color */
  color: whitesmoke; /* Text color */
  border: 2px white; /* Border color and style */
  outline: 2px solid whitesmoke; /* Focus outline color */
  box-shadow: 0 0 5px rgb(241, 140, 211); /* Box shadow */
  font-size: 30px; /* Font size */
}